      <footer
        class="footer | bg-dark-100 text-secondary-100 padding-block-900"
        id="contact"
      >
        <div class="container">
          <div class="even-columns" data-type="footer">
            <div class="footer-details">
              <div class="footer-text-wrapper">
                <div class="heading-wrapper">
                  <p class="footer-title">Kim Oswalt</p>
                  <p class="fs-body">Creating Impactful Digital Products</p>
                </div>
                <div
                  class="contact-bar justify-content-start padding-top-100 padding-bottom-100"
                >
                  <ul role="list" aria-label="Social Links" class="socials">
                    <li>
                      <a
                        aria-label="LinkedIn"
                        href="https://www.linkedin.com/in/kim-oswalt/"
                        ><img src="/assets/icons/linkedin.svg" alt="LinkedIn"
                      /></a>
                    </li>
                    <li>
                      <a
                        aria-label="Behance"
                        href="https://www.behance.net/kimberlyoswalt"
                        ><img src="/assets/icons/behance.svg" alt="Behance"
                      /></a>
                    </li>
                    <li>
                      <a aria-label="Medium" href="https://medium.com/@keoswalt"
                        ><img src="/assets/icons/medium.svg" alt="Medium"
                      /></a>
                    </li>
                    <li>
                      <a aria-label="GitHub" href="https://github.com/keoswalt"
                        ><img src="/assets/icons/github.svg" alt="GitHub"
                      /></a>
                    </li>
                  </ul>
                  <div class="email-wrapper">
                    <img src="/assets/icons/envelope.svg" alt="" />
                    <a href="mailto:keoswalt@gmail.com">keoswalt@gmail.com</a>
                  </div>
                </div>
              </div>
              <p class="fs-small">©{% year %} All Rights Reserved</p>
            </div>
            <div class="form-wrapper">
              <form
                class="contact-form"
              >
                <div class="input-wrapper">
                  <label for="name">Name</label>
                  <input class="input" type="text" id="name" name="Name" />
                </div>
                <div class="input-wrapper">
                  <label for="email">Email</label>
                  <input class="input" type="email" id="email" name="Email" />
                </div>
                <div class="input-wrapper">
                  <label for="message">Message</label>
                  <input
                    class="input"
                    type="text"
                    id="message"
                    name="Message"
                  />
                </div>
                <div class="button-wrapper flex-justify-end padding-top-100">
                  <button class="button">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </footer>