 <header class="bg-dark-100">
      <div class="container">
        <div class="primary-nav">
          <a href="/index.html"
            ><img src="/assets/icons/KO.svg" alt="Homepage"
          /></a>
          <button
            class="mobile-nav-toggle"
            aria-controls="navigation"
            aria-expanded="false"
          >
            <img
              class="icon-hamburger"
              src="/assets/icons/menu.svg"
              alt=""
              aria-hidden="true"
            />
            <img
              class="icon-close"
              src="/assets/icons/close.svg"
              alt=""
              aria-hidden="true"
            />
            <span class="visually-hidden">Menu</span>
          </button>
          <nav class="nav-items-wrapper" id="navigation">
            <ul role="list" class="nav-items">
              <li class="nav-item"><a href="/index#background">Background</a></li>
              <li class="nav-item"><a href="/index#projects">Projects</a></li>
              <li class="nav-item"><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>