---
title: Information Architecture & Design System | Aspire Software
layout: base.njk
---

<main>
    <section class="bg-dark-100 text-secondary-100">
        <div class="container">
            <div class="cs-even-col padding-block-900" data-align="center">
                <div class="cs-heading">
                    <h1 class="fs-page-title ff-accent">Information Architecture & Design System</h1>
                    <p class="fs-primary-subhead">Aspire Software</p>
                </div>
                <img class="cs-width-50" src="/assets/uploads/aspire-featured.png" alt="Aspire Landscape Business Management Software">
            </div>
        </div>
        <div class="cs-full-stripe-bar cs-padding-75" data-color="light">
            <div class="container">
                <p>March 2022 - March 2023</p>
            </div>
        </div>
        <div class="container">
            <div class="cs-width-100 cs-padding-2">
                <p><span class="fw-bold">Deliverables</span>: Information architecture, design system, and website overhaul</p>
            </div>
        </div>
    </section>

    <section class="bg-yellow">
        <div class="container padding-block-999">
            <div class="cs-heading padding-block-500" data-align="center">
                <h2 class="ff-accent fs-primary-heading">Background</h2>
                <p class="cs-width-75">I led website experience for Aspire Software from March 2022–March 2023. During my time in the role, I worked with agency partners to overhaul the marketing website. By implementing a new information architecture and design system, we reconfigured the site to meet changing business needs and built a solid foundation for the future.</p>
            </div>
        </div>
    </section>

    <section class="padding-block-500">
        <div class="cs-full-stripe-bar">
            <div class="container">
                <div class="cs-content-emphasis">
                    <div class="cs-heading" data-align="center">
                        <h3 class="ff-accent fs-secondary-heading-large">About Aspire</h3>
                    </div>
                    <p class="align-center cs-width-75">Aspire Software was founded in 2013 with a single product: a cloud-based business management platform for landscape companies. Over the years, it grew by expanding into new verticals and acquiring additional products. By 2022, Aspire offered four discrete products targeting multiple industries within the broader field service management category.</p>
                    <img src="/assets/uploads/aspire-logos.jpeg" alt="Logos for each of Aspire’s four products in 2022" class="cs-width-75">
                    <p class="align-center cs-width-75">My task was incorporating all products and industries on a single Aspire website in a way that met the needs of users, internal stakeholders, and search engines—and looked great doing it.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark-100 text-secondary-100 padding-block-900">
        <div class="cs-full-stripe-bar cs-padding-75" data-color="light">
            <div class="container">
                <h3 class="fs-secondary-heading-large ff-accent align-center">Information Architecture</h3>
            </div>
        </div>
        <div class="container">
            <div class="cs-content-emphasis" data-padding="2">
                <p class="align-center cs-width-75">Addressing the site's information architecture was the first step. With an approach informed by OOUX, I identified the types of content needed on the site then explored strategies for organizing that content.</p>
                <img src="/assets/uploads/aspire-brainstorm2.jpeg" alt="Brainstorming Aspire product connections" class="cs-width-80">
                <p class="align-center cs-width-75">Through a series of conversations with marketing leadership and other key players, I was able to create and iterate on a sitemap that addressed these needs.</p>
                <img src="/assets/uploads/aspire-sitemap.jpeg" alt="Aspire sitemap" class="cs-width-80">
                <div class="cs-heading" data-align="center">
                    <p class="fs-primary-subhead cs-width-75">One of the results of this process was separating industry and product (which were previously intertwined) into separate sections of the site. Our priorities in handling the shift were to ensure a seamless, clear browsing experience for all users and to prevent confusion from users and stakeholders already familiar with the site.</p>
                </div>
                <div class="cs-list cs-width-75">
                    <p class="cs-padding-75">We accomplished this by:</p>
                    <ol>
                        <li>Creating industry-agnostic product pages</li>
                        <li>Setting up product-specific pages for things like features, pricing, and integrations (nested under their appropriate product pages)</li>
                        <li>Making design choices to prioritize clarity in the content and UI</li>
                    </ol>
                </div>
                <img src="/assets/uploads/aspire-solutions.jpeg" alt="Aspire solutions overview" class="cs-width-80">
                <p class="align-center cs-width-75">We collaborated closely with SEO partners throughout the IA process. One of the key strategies we found to solve for their needs included creating high SEO value, industry-specific feature pages. These could incorporate one or more relevant products, using a product badge design to show the functionality available for each.</p>
                <p class="align-center cs-width-75">With this new information architecture in place, we prepared Aspire for whatever the future holds—whether that means entering new verticals with existing software or acquiring new solutions.</p>
            </div>
        </div>
    </section>

    <section class="padding-block-500">
        <div class="cs-full-stripe-bar">
            <div class="container">
                <div class="cs-content-emphasis">
                    <div class="cs-heading" data-align="center">
                        <h3 class="ff-accent fs-secondary-heading-large">New Lead Routing Experience</h3>
                    </div>
                    <div class="cs-even-col" data-align="center">
                        <div class="cs-col">
                            <p class="cs-width-75">The original site’s primary CTA—“Request Demo”—worked well when Aspire was a single-product company, but no longer addressed the needs of a multi-product website. Each product had its own CTA (request a demo or start a free trial), but pages often included multiple products and a single primary CTA.</p>
                            <p class="cs-width-75">My solution was a "product match form" experience. This form let users identify the solution that worked for them—and take the appropriate next step—by answering a few basic questions. Logic on the backend matched answers about revenue, industry, and software needs to the right product and directed submitters to take immediate action: scheduling a meeting or signing up for a free trial.</p>
                        </div>
                        <div class="cs-col">
                            <img src="/assets/uploads/aspire-pmf-v2.jpeg" alt="Lead generation form asking for user's industry and business size">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-blue padding-block-500 text-secondary-100">
        <div class="cs-full-stripe-bar" data-color="light">
            <div class="container">
                <div class="cs-content-emphasis">
                    <div class="cs-heading" data-align="center">
                        <h3 class="ff-accent fs-secondary-heading-large">Design System</h3>
                    </div>
                    <p class="align-center cs-width-75">There wasn’t a design system in place when we started, so building one from scratch was the longest phase of the process. We enlisted the support of an external agency and, working in two-week sprints over the course of a year, created a fully fledged design system with the pattern library in Figma and the components built in HubSpot.</p>
                    <img src="/assets/uploads/aspire-modules.jpeg" alt="New Aspire modules">
                </div>
            </div>
        </div>
    </section>

    <section class="padding-block-500">
        <div class="cs-full-stripe-bar">
            <div class="container">
                <div class="cs-content-emphasis">
                    <div class="cs-heading" data-align="center">
                        <h2 class="ff-accent fs-secondary-heading-large">Key Learnings</h2>
                    </div>
                    <p class="align-center cs-width-75">Every major website project involves lots of moving pieces and stakeholder requirements. This process gave me an opportunity to lead an initiative with multiple (often seemingly conflicting) goals. The most helpful strategies were staying in regular communication, investing in brainstorming alternative ideas when goals did conflict, using visual aids (wireframes, mind maps, etc.), and clarifying roles and opportunities for feedback throughout the process.</p>
                </div>
            </div>
        </div>
    </section>

</main>


