---
title: AI-Enabled Skill Validation | Skillable
layout: base.njk
---

<main>
    <section class="bg-dark-100 text-secondary-100">
        <div class="container">
            <div class="cs-even-col padding-block-900" data-align="center">
                <div class="cs-heading">
                    <h1 class="fs-page-title ff-accent">AI-Enabled Skill Validation</h1>
                    <p class="fs-primary-subhead">Skillable</p>
                </div>
                <img class="cs-width-50" src="/assets/uploads/vision-1.png" alt="">
            </div>
        </div>
        <div class="cs-full-stripe-bar cs-padding-75" data-color="light">
            <div class="container">
                <p>October 2024 - June 2025</p>
            </div>
        </div>
        <div class="container">
            <div class="cs-width-100 cs-padding-2">
                <p>
                    <span class="fw-bold">Product Design Lead</span>: Kim Oswalt</p>
                <p>
                    <span class="fw-bold">Engineering Lead</span>: James Grau</p>
                <p>
                    <span class="fw-bold">Product Managers</span>: Eric Grau, Sarah Mullens</p>
            </div>
        </div>
    </section>

    <section class="padding-block-500">
        <a id="video-demo" class="visually-hidden"></a>
        <div class="cs-full-stripe-bar">
            <div class="container">
                <div class="cs-content-emphasis">
                    <h2 class="fs-secondary-heading align-center cs-width-75">AI Vision activities offer a faster, code-free way to validate skills in hands-on labs.</h2>
                    <div class="cs-width-75">
                        <div class="video-wrapper">
                            <iframe src="https://www.youtube.com/embed/u8Q65ALQR60" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-yellow">
        <div class="container padding-block-999">
            <div class="cs-heading padding-block-500" data-align="center">
                <h2 class="ff-accent fs-secondary-heading-large">Background</h2>
                <p class="cs-width-75">Skillable labs let users learn, practice, and validate skills in a virtual environment. To track performance, lab authors use activities—typically scripts that check if a user completed a task correctly.</p>
            </div>
        </div>
    </section>

    <section class="padding-block-900">
        <div class="cs-full-stripe-bar cs-padding-75 align-center">
            <div class="container">
                <h2 class="fs-secondary-heading-large ff-accent align-center">Challenges</h2>
            </div>
        </div>
        <div class="container">
            <div class="cs-even-col padding-block-900">
                <div class="cs-col">
                    <div class="cs-color-card" data-color="blue">
                        <h3 class="fs-secondary-heading align-center ff-accent">Time</h3>
                        <p>Writing scripts can be a tedious and time-consuming process for lab authors.</p>
                    </div>
                </div>
                <div class="cs-col">
                    <div class="cs-color-card" data-color="yellow">
                        <h3 class="fs-secondary-heading align-center ff-accent">Expertise</h3>
                        <p>Scripting is a specialized skill that requires coding knowledge and domain expertise.</p>
                    </div>
                </div>
                <div class="cs-col">
                    <div class="cs-color-card" data-color="black">
                        <h3 class="fs-secondary-heading align-center ff-accent">Limitations</h3>
                        <p>Certain tasks, like confirming a toggle is switched on, can't be reliably handled with scripts.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-block-500 bg-blue text-secondary-100">
        <div class="cs-full-stripe-bar" data-color="light">
            <div class="container">
                <div class="cs-content-emphasis">
                    <h2 class="fs-secondary-heading align-center cs-width-75">We saw an opportunity to make lab building faster and more accessible by harnessing AI's ability to interpret what's on a user's screen.</h2>
                </div>
                <div class="cs-even-col padding-bottom-500" data-align="center">
                    <div class="cs-col">
                        <p>AI Vision Activities let authors write plain-language prompts instead of scripts. Behind the scenes, AI captures a snapshot of the user's environment and checks it against the expected outcome—no code required.</p>
                    </div>
                    <div class="cs-col">
                        <img src="/assets/uploads/vision-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark-100 text-secondary-100 padding-block-900">
        <div class="container">
            <div class="cs-heading padding-block-500" data-align="center">
                <h2 class="ff-accent fs-secondary-heading-large">Design Approach</h2>
                <p class="fs-primary-subhead cs-width-50">I partnered with engineering and product to craft a simple, powerful two-step workflow that:</p>
            </div>
            <div class="cs-even-col padding-block-900" data-align="top">
                <div class="cs-col">
                    <p class="fs-secondary-heading align-center">01</p>
                    <p class="align-center">Supports new & experienced lab authors</p>
                </div>
                <div class="cs-col">
                    <p class="fs-secondary-heading align-center">02</p>
                    <p class="align-center">Offers just-in-time guidance for writing effective prompts</p>
                </div>
                <div class="cs-col">
                    <p class="fs-secondary-heading align-center">03</p>
                    <p class="align-center">Prioritizes clarity, confidence, and iteration</p>
                </div>
            </div>
            <div class="cs-heading" data-align="center">
                <img src="/assets/uploads/vision-3.png" alt="" class="cs-width-75">
                <p class="cs-width-75">Integrated test functionality reviews the prompt and provides a strength rating along with qualitative feedback to help the lab developer feel confident in their results.</p>
                </div>
        </div>
    </section>

    <section class="padding-block-500">
        <div class="cs-full-stripe-bar">
            <div class="container">
                <div class="cs-even-col padding-block-999" data-align="center">
                    <div class="cs-col">
                        <div class="cs-heading">
                            <h2 class="fs-secondary-heading-large ff-accent">Next Steps</h2>
                            <p>Released in June 2025, this feature is already unlocking new possibilities for lab authors. I'll be tracking adoption and feedback through Pendo to guide future improvements.</p>
                            <div class="button-wrapper">
                                <button class="button">
                                    <a href="#video-demo">Back to Video</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="cs-col"><img src="/assets/uploads/vision-4.png" alt=""> </div>
                </div>
            </div>
        </section>
    </section>
</main>