---
title: LMS Redesign | Berklee College of Music
layout: base.njk
---

<main>

    <section class="bg-dark-100 text-secondary-100">
        <div class="container">
            <div class="cs-even-col padding-block-500" data-align="center">
                <div class="cs-heading">
                    <h1 class="fs-page-title ff-accent">LMS Redesign</h1>
                    <p class="fs-primary-subhead">Berklee College of Music</p>
                </div>
                <img class="cs-width-50" src="/assets/uploads/bcm-1.png" alt="">
            </div>
        </div>

        <div class="cs-full-stripe-bar cs-padding-75" data-color="light">
            <div class="container">
                <p>October 2023 - April 2024</p>
            </div>
        </div>

        <div class="container">
            <div class="cs-width-100 cs-padding-2">
                <p><span class="fw-bold">Project Lead</span>: Kim Oswalt (Product Designer)</p>
                <p><span class="fw-bold">Engineering Lead</span>: Eugene Fomin (Associate Director, Berklee Online)</p>
                <p><span class="fw-bold">Key Stakeholder</span>: Boriana Alexiev (Associate Dean of Online Education)</p>
            </div>
        </div>
    </section>

    <section class="padding-block-500">
        <div class="cs-full-stripe-bar">
            <div class="container">
                <div class="cs-content-emphasis">
                    <h2 class="fs-secondary-heading align-center cs-width-75">BOCCE is a learning management platform where Berklee Online students take 100% of their classes.</h2>
                    <p class="align-center italics cs-width-75">Berklee Online is the virtual extension of Berklee College of Music in Boston. Students complete all coursework through BOCCE, a custom-built learning management system designed to meet the unique challenges of online music education.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-yellow">
        <div class="container padding-block-999">
            <div class="cs-heading" data-align="center">
                <h2 class="ff-accent fs-primary-heading">Starting Point</h2>
                <p>When I came onboard, Berklee Online’s custom learning management system (BOCCE) was nearly 10 years old and in need of some major updates.</p>
            </div>
        </div>
    </section>

    <section class="bg-dark-100 text-secondary-100 padding-block-900">
        <div class="cs-full-stripe-bar cs-padding-75" data-color="light">
            <div class="container">
                <h3 class="fs-secondary-heading-large ff-accent align-center">Challenges</h3>
            </div>
        </div>

        <div class="container">
            <div class="cs-even-col padding-block-900" data-align="top">
                <div class="cs-col">
                    <p class="fs-primary-subhead align-center">01</p>
                    <p class="align-center">Confusing platform architecture</p>
                </div>
                <div class="cs-col">
                    <p class="fs-primary-subhead align-center">02</p>
                    <p class="align-center">Excessive use of stacked modals</p>
                </div>
                <div class="cs-col">
                    <p class="fs-primary-subhead align-center">03</p>
                    <p class="align-center">Lack of centralized notifications</p>
                </div>
            </div>
            <div class="cs-video-wrapper">
                <video src=""></video>
            </div>
        </div>
    </section>

    <section class="padding-block-900">
        <div class="cs-full-stripe-bar cs-padding-75 align-center">
            <div class="container">
                <h2 class="fs-secondary-heading-large ff-accent align-center">Project Overview</h2>
            </div>
        </div>

        <div class="container">
            <div class="cs-even-col padding-block-900">
                <div class="cs-col">
                    <div class="cs-color-card" data-color="blue">
                        <h3 class="fs-secondary-heading align-center ff-accent">Research</h3>
                        <p>Develop an understanding of the core issues facing learners and instructors.</p>
                        <p class="fs-small"><span class="underlined">Goal:</span> Data-informed decisions</p>
                    </div>
                    </div>
                     <div class="cs-col">
                         <div class="cs-color-card" data-color="yellow">
                            <h3 class="fs-secondary-heading align-center ff-accent">OOUX</h3>
                            <p>Identify the objects, relationships, actions, and attributes to build a better system.</p>
                            <p class="fs-small"><span class="underlined">Goal:</span> Scalable architecture</p>
                                         </div>
                     </div>
                     <div class="cs-col">
                         <div class="cs-color-card" data-color="black">
                            <h3 class="fs-secondary-heading align-center ff-accent">Redesign</h3>
                            <p>Create high-fidelity designs in collaboration with engineering and other key stakeholders.</p>
                            <p class="fs-small"><span class="underlined">Goal:</span> Exceptional user experience</p>
                                         </div>
                     </div>
            
            </div>
        </div>
    </section>

    <section class="bg-blue padding-block-500 text-secondary-100">
        <div class="cs-full-stripe-bar padding-block-900" data-color="light">
            <div class="container">
                <div class="cs-even-col" data-align="center">
                    <div class="cs-col">
                        <div class="cs-heading">
                            <h2 class="fs-secondary-heading-large ff-accent">Research</h2>
                            <div class="cs-list">
                                <p class="fw-bold">Data sources included:</p>
                                <ul>
                                    <li>Student support team</li>
                                    <li>Instructor support team</li>
                                    <li>GainSight (usage data + surveys)</li>
                                    <li>Post-semester surveys</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cs-col"><img src="/assets/uploads/bcm-2.png" alt=""></div>
                </div>
            </div>
        </div>
    </section>





</main>

