---
title: LMS Redesign | Berklee College of Music
layout: base.njk
---

<main>
    <section class="bg-dark-100 text-secondary-100">
        <div class="container">
            <div class="cs-even-col padding-block-900" data-align="center">
                <div class="cs-heading">
                    <h1 class="fs-page-title ff-accent">LMS Redesign</h1>
                    <p class="fs-primary-subhead">Berklee College of Music</p>
                </div>
                <img class="cs-width-50" src="/assets/uploads/bcm-1.png" alt="">
            </div>
        </div>
        <div class="cs-full-stripe-bar cs-padding-75" data-color="light">
            <div class="container">
                <p>October 2023 - April 2024</p>
            </div>
        </div>
        <div class="container">
            <div class="cs-width-100 cs-padding-2">
                <p>
                    <span class="fw-bold">Project Lead</span>: Kim Oswalt (Product Designer)</p>
                <p>
                    <span class="fw-bold">Engineering Lead</span>: Eugene Fomin (Associate Director, Berklee Online)</p>
                <p>
                    <span class="fw-bold">Key Stakeholder</span>: Boriana Alexiev (Associate Dean of Online Education)</p>
            </div>
        </div>
    </section>
    <section class="padding-block-500">
        <div class="cs-full-stripe-bar">
            <div class="container">
                <div class="cs-content-emphasis">
                    <h2 class="fs-secondary-heading align-center cs-width-75">BOCCE is a learning management platform where Berklee Online
                        students take 100% of their classes.</h2>
                    <p class="align-center italics cs-width-75">Berklee Online is the virtual extension of Berklee College of Music in
                        Boston. Students complete all coursework through BOCCE, a custom-built learning management system designed to meet the
                        unique challenges of online music education.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-yellow">
        <div class="container padding-block-999">
            <div class="cs-heading padding-block-500" data-align="center">
                <h2 class="ff-accent fs-primary-heading">Starting Point</h2>
                <p class="cs-width-75">When I came onboard, Berklee Online’s custom learning management system (BOCCE) was nearly <span class="fw-bold">10 years old</span> and in need
                    of some major updates.</p>
            </div>
        </div>
    </section>
    <section class="bg-dark-100 text-secondary-100 padding-block-900">
        <div class="cs-full-stripe-bar cs-padding-75" data-color="light">
            <div class="container">
                <h3 class="fs-secondary-heading-large ff-accent align-center">Challenges</h3>
            </div>
        </div>
        <div class="container">
            <div class="cs-even-col padding-block-900" data-align="top">
                <div class="cs-col">
                    <p class="fs-primary-subhead align-center">01</p>
                    <p class="align-center">Confusing platform architecture</p>
                </div>
                <div class="cs-col">
                    <p class="fs-primary-subhead align-center">02</p>
                    <p class="align-center">Excessive use of stacked modals</p>
                </div>
                <div class="cs-col">
                    <p class="fs-primary-subhead align-center">03</p>
                    <p class="align-center">Lack of centralized notifications</p>
                </div>
            </div>
            <div class="cs-heading" data-align="center">
                <img src="/assets/uploads/bcm-0.png" alt="" class="cs-width-75">
                </div>
        </div>
    </section>
    <section class="padding-block-900">
        <div class="cs-full-stripe-bar cs-padding-75 align-center">
            <div class="container">
                <h2 class="fs-secondary-heading-large ff-accent align-center">Project Overview</h2>
            </div>
        </div>
        <div class="container">
            <div class="cs-even-col padding-block-900">
                <div class="cs-col">
                    <div class="cs-color-card" data-color="blue">
                        <h3 class="fs-secondary-heading align-center ff-accent">Research</h3>
                        <p>Develop an understanding of the core issues facing learners and instructors.</p>
                        <p class="fs-small">
                            <span class="underlined">Goal:</span>
                            Data-informed decisions</p>
                    </div>
                </div>
                <div class="cs-col">
                    <div class="cs-color-card" data-color="yellow">
                        <h3 class="fs-secondary-heading align-center ff-accent">OOUX</h3>
                        <p>Identify the objects, relationships, actions, and attributes to build a better system.</p>
                        <p class="fs-small">
                            <span class="underlined">Goal:</span>
                            Scalable architecture</p>
                    </div>
                </div>
                <div class="cs-col">
                    <div class="cs-color-card" data-color="black">
                        <h3 class="fs-secondary-heading align-center ff-accent">Redesign</h3>
                        <p>Create high-fidelity designs in collaboration with engineering and other key stakeholders.</p>
                        <p class="fs-small">
                            <span class="underlined">Goal:</span>
                            Exceptional user experience</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-blue padding-block-500 text-secondary-100">
        <div class="cs-full-stripe-bar" data-color="light">
            <div class="container">
                <div class="cs-even-col padding-top-500" data-align="center">
                    <div class="cs-col">
                        <div class="cs-heading">
                            <h2 class="fs-secondary-heading-large ff-accent">Research</h2>
                            <div class="cs-list">
                                <p class="fw-bold">Data sources included:</p>
                                <ul>
                                    <li>Student support team</li>
                                    <li>Instructor support team</li>
                                    <li>GainSight (usage data + surveys)</li>
                                    <li>Post-semester surveys</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cs-col"><img src="/assets/uploads/bcm-2.png" alt=""> </div>
                </div>
                <div class="cs-even-col padding-block-900" data-align="center">
                    <div class="cs-col">
                        <p class="fs-primary-subhead padding-block-900">Quotes like these helped me understand where students struggled inside of BOCCE.</p>
                    </div>
                    <div class="cs-col">
                        <img src="/assets/uploads/bcm-3.png" alt="">
                    </div>
                </div>
                <div class="cs-even-col" data-align="center">
                    <div class="cs-col cs-width-75">
                        <img src="/assets/uploads/bcm-4.png" alt="" class="desktop-only">
                    </div>
                    <div class="cs-col">
                        <h3 class="ff-accent fs-secondary-heading-large">Themes</h3>
                        <div class="cs-theme-list">
                            <div class="cs-theme">
                                <p class="fs-primary-subhead fw-bold">Assignments</p>
                                <p class="fs-small">Frustration with the current assignment submission & grading experience.</p>
                            </div>
                            <div class="cs-theme">
                                <p class="fs-primary-subhead fw-bold">Content</p>
                                <p class="fs-small">More options to engage with the material and customize the reading / viewing / listening experience.</p>
                            </div>
                            <div class="cs-theme">
                                <p class="fs-primary-subhead fw-bold">Community</p>
                                <p class="fs-small">Facilitate connections with features students are accustomed to using on social media and messaging
                                    platforms.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-yellow padding-block-500">
            <div class="cs-full-stripe-bar">
                <div class="container">
                    <div class="cs-content-emphasis">
                        <div class="cs-heading" data-align="center">
                            <h3 class="ff-accent fs-secondary-heading-large">OOUX</h3>
                            <div class="cs-col">
                                <p class="fs-primary-subhead">(Object Oriented UX)</p>
                                <a href="https://www.ooux.com/what-is-ooux"><p class="italics">Methodology by Sophia Prater</p></a>
                            </div>
                        </div>
                        <img src="/assets/uploads/bcm-5.png" alt="">
                    </div>
                    <div class="cs-content-emphasis" data-padding="2">
                        <p class="fs-secondary-heading align-center cs-width-75">Object-Oriented UX is an integrated, <span class="fw-bold">content-first</span> approach to information architecture and product design.</p>
                        <div class="cs-list">
                            <p class="cs-padding-75">The process involves:</p>
                            <ol>
                                <li>Identifying the core <span class="fw-bold">objects</span> in your system</li>
                                <li>Identifying the <span class="fw-bold">relationships</span> between those objects</li>
                                <li>Identifying the <span class="fw-bold">actions</span> that can be taken on each object</li>
                                <li>Identifying the <span class="fw-bold">attributes</span> (metadata) for each object</li>
                            </ol>
                        </div>
                    </div>
                    <div class="cs-content-emphasis">
                        <img src="/assets/uploads/bcm-6.png" alt="">
                        <p class="align-center cs-width-75">The object map I created for BOCCE—along with insights from user research—enabled early conversations with engineering to iteratively explore different design directions.</p>
                        
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-dark-100 text-secondary-100">
            <div class="container padding-block-500">
                <div class="cs-content-emphasis">
                    <h2 class="ff-accent fs-secondary-heading-large">Redesign</h2>
                    <p class="align-center cs-width-75">The redesign project included a reimagining of the core BOCCE experience, addition of new features to drive engagement, launch of a user dashboard, and development of new digital gathering space for students.</p>
                </div>
            </div>

            <div class="cs-full-stripe-bar cs-padding-75" data-color="light">
                <div class="container">
                    <h3 class="fs-secondary-heading ff-accent align-center">Reimagining the Core Experience</h3>
                </div>
            </div>

            <div class="container padding-block-900">
                <div class="cs-even-col">
                    <div class="cs-col">
                        <div class="content-wrapper"><img src="/assets/uploads/bcm-7.png" alt=""></div>
                        <div class="cs-list cs-padding-2">
                            <p class="ff-accent fs-secondary-heading cs-padding-75">Before</p>
                            <ul>
                                <li>Cluttered, distracting interface</li>
                                <li>Few opportunities for engagement</li>
                                <li>Modal-driven navigation flows</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cs-col">
                        <div class="content-wrapper"><img src="/assets/uploads/bcm-8.png" alt=""></div>
                        <div class="cs-list cs-padding-2">
                            <p class="ff-accent fs-secondary-heading cs-padding-75">After</p>
                            <ul>
                                <li>Consolidated notifications</li>
                                <li>Streamlined assignment submission & grading</li>
                                <li>Reimagined navigation to remove need for modals</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cs-full-stripe-bar cs-padding-75" data-color="light">
                <div class="container">
                    <h3 class="fs-secondary-heading ff-accent align-center">Driving Engagement</h3>
                </div>
            </div>

            <div class="container padding-block-999">
                <div class="cs-even-col">
                    <div class="cs-col">
                        <img src="/assets/uploads/bcm-9.png" alt="">
                        <p class="align-center cs-padding-1">New audio and video players with time-stamped commenting</p>
                    </div>
                    <div class="cs-col">
                        <img src="/assets/uploads/bcm-10.png" alt="">
                        <p class="align-center cs-padding-1">“Berklee Beach” digital gathering space for students</p>
                    </div>
                    <div class="cs-col">
                        <img src="/assets/uploads/bcm-11.png" alt="">
                        <p class="align-center cs-padding-1">Redesigned live class experience to increase value for students</p>
                    </div>
                </div>
            </div>

            <div class="cs-full-stripe-bar cs-padding-75" data-color="light">
                <div class="container">
                    <h3 class="fs-secondary-heading ff-accent align-center">Giving Students a Home Base</h3>
                </div>
            </div>

            <div class="container">
                <div class="cs-content-emphasis">
                    <img src="/assets/uploads/bcm-12.png" alt="" class="cs-width-50">
                    <p class="align-center cs-padding-1 cs-width-75">New user dashboard for managing their inbox, assignment deadlines, and key notifications.</p>
                </div>
            </div>
        </section>

        <section class="padding-block-500">
        <div class="cs-full-stripe-bar">
            <div class="container">
                <div class="cs-even-col padding-block-999" data-align="center">
                    <div class="cs-col">
                        <div class="cs-heading">
                            <h2 class="fs-secondary-heading-large ff-accent">Impact</h2>
                            <p>Redesigning Berklee Online’s LMS was no small feat—but the results speak for themselves. Over <span class="fw-bold">1,700 students</span> now enjoy a more engaging, accessible platform and vibrant online community.</p>
                            <p>And Berklee’s team now has a scalable design system built to grow with them for years to come.</p>
                        </div>
                    </div>
                    <div class="cs-col"><img src="/assets/uploads/bcm-1.png" alt=""> </div>
                </div>
            </div>
        </section>




    </main>