---
title: Kim Oswalt | Product Designer
layout: base.njk
---

<main>
  <section class="padding-block-900">
    <div class="homepage-hero | container">
      <div class="hero-image-wrapper">
        <img src="assets/hero-image.webp" alt="Five characters with a laptop, iPad, books, video camera, and sticky notes"/>
      </div>
      <div class="hero-text">
        <h1 class="text-primary-100 site-title">Kim Oswalt</h1>
        <p class="site-subhead desktop-only">
          10+ years connecting, teaching, & empowering people with technology
        </p>
        <p class="site-subhead mobile-only" aria-hidden="true">
          10+ years connecting, teaching, & empowering people with technology
        </p>
      </div>
    </div>
  </section>
  <section class="padding-block-900">
    <div class="container">
      <div class="even-columns">
        <div class="background-details">
          <div class="heading-wrapper">
            <h2 class="fs-primary-heading ff-accent text-primary-100">
              About Me
            </h2>
          </div>
          <div class="divider mobile-only"></div>
          <div class="bio-text">
            <div class="vertical-divider"></div>
            <div class="bio-content">
              <p>
                Hey 👋 I’m Kim, a multidisciplinary product builder making software more accessible, comprehensible, and impactful.
                Currently leading product design at
                <a href="https://www.timelyschools.com">Timely Schools</a>.
              </p>
              <p>
                In my spare time, I read as much as possible, bike around St. Louis, work on my latest creative project, volunteer with
                <a href="https://rungforwomen.org" target="_blank">Rung for Women</a>, and eat way too many tacos.
              </p>
            </div>
          </div>
          <div>
            <ul role="list" aria-label="Tech Stack" class="tech-stack">
              <li class="tag">HTML, CSS, & JS</li>
              <li class="tag">Research</li>
              <li class="tag">Product Strategy</li>
              <li class="tag">Object-Oriented UX</li>
              <li class="tag">Design Systems</li>
              <li class="tag">AI-Enabled Workflows</li>
            </ul>
          </div>
        </div>
        <div class="background-image-social">
          <div class="contact-bar-wrapper">
            <div class="contact-bar padding-top-200">
              <ul role="list" aria-label="Social Links" class="socials">
                <li>
                  <a aria-label="LinkedIn" href="https://www.linkedin.com/in/kim-oswalt/"><img src="assets/icons/linkedin-dark.svg" alt="LinkedIn"/>
                  </a>
                </li>
                <li>
                  <a aria-label="GitHub" href="https://github.com/keoswalt"><img src="assets/icons/github-dark.svg" alt="GitHub"/>
                  </a>
                </li>
                <li>
                  <a aria-label="Medium" href="https://medium.com/@keoswalt"><img src="assets/icons/medium-dark.svg" alt="Medium"/>
                  </a>
                </li>
              </ul>
              <div class="email-wrapper">
                <img src="assets/icons/envelope-dark.svg" alt=""/>
                <a href="mailto:keoswalt@gmail.com" class="text-primary-100">keoswalt@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="bio-image-wrapper">
            <img src="assets/bio-photo.webp" alt="Kim holding an ipad"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="padding-block-500" id="showcase">
    <div class="container">
      <div class="heading-wrapper">
        <h2 class="fs-primary-heading ff-accent text-primary-100">Showcase</h2>
      </div>
      <div class="showcase-card-container">
        <div class="showcase-cards">
          <div class="showcase-card">
            <div class="showcase-card-content">
              <p class="date">Timely Schools</p>
              <h3 class="fs-secondary-heading ff-accent">Class Creation Redesign</h3>
              <p class="fs-small italics">Simplified a painful K-12 scheduling workflow, from discovery workshops to AI-built prototypes and launch</p>
              <a href="/timely-sections.html" tabindex="-1" aria-hidden="true">
                <img class="showcase-img" src="assets/uploads/timely-sections/sections-project-showcase-card.png" alt="">
              </a>
            </div>
            <div class="button-wrapper">
              <button class="button">
                <a href="/timely-sections.html">
                  <p>View Project</p>
                  <svg width="12" height="17" viewbox="0 0 12 17" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.25 3.53516C10.6562 3.53516 11 3.87891 11 4.28516V11.7852C11 12.2227 10.6562 12.5352 10.25 12.5352C9.8125 12.5352
                    9.5 12.2227 9.5 11.7852V6.09766L2.28125 13.3164C1.96875 13.6289 1.5 13.6289 1.21875 13.3164C0.90625 13.0352 0.90625
                    12.5664 1.21875 12.2852L8.4375 5.06641H2.75C2.3125 5.06641 2 4.72266 2 4.31641C2 3.87891 2.3125 3.56641 2.75
                    3.56641H10.25V3.53516Z"/>
                  </svg>
                </a>
              </button>
            </div>
          </div>
          <div class="showcase-card">
            <div class="showcase-card-content">
              <p class="date">Skillable</p>
              <h3 class="fs-secondary-heading ff-accent">AI-Enabled Skill Validation</h3>
              <p class="fs-small italics">Reduced lab development time with feature leveraging Open AI's screen-reading capabilities</p>
              {# <div class="tags">
                <div class="tag" data-color="light">Product Design</div>
                <div class="tag" data-color="light">AI</div>
              </div> #}
              <a href="/ai-vision.html" tabindex="-1" aria-hidden="true">
                <img class="showcase-img" src="assets/uploads/activities.png" alt="">
              </a>
            </div>
            <div class="button-wrapper">
              <button class="button">
                <a href="/ai-vision.html">
                  <p>View Project</p>
                  <svg width="12" height="17" viewbox="0 0 12 17" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.25 3.53516C10.6562 3.53516 11 3.87891 11 4.28516V11.7852C11 12.2227 10.6562 12.5352 10.25 12.5352C9.8125 12.5352
                    9.5 12.2227 9.5 11.7852V6.09766L2.28125 13.3164C1.96875 13.6289 1.5 13.6289 1.21875 13.3164C0.90625 13.0352 0.90625
                    12.5664 1.21875 12.2852L8.4375 5.06641H2.75C2.3125 5.06641 2 4.72266 2 4.31641C2 3.87891 2.3125 3.56641 2.75
                    3.56641H10.25V3.53516Z"/>
                  </svg>
                </a>
              </button>
            </div>
          </div>
          <div class="showcase-card">
            <div class="showcase-card-content">
              <p class="date">Berklee Online</p>
              <h3 class="fs-secondary-heading ff-accent">Berklee LMS Redesign</h3>
              <p class="fs-small italics">Redesigned the core learning experience, added 10+ new features, and introduced a design system</p>
              {# <div class="tags">
                <div class="tag" data-color="light">Product Design</div>
                <div class="tag" data-color="light">Design System</div>
              </div> #}
              <a href="/berklee.html" tabindex="-1" aria-hidden="true">
                <img class="showcase-img" src="assets/uploads/berklee-featured.png" alt="">
              </a>
            </div>
            <div class="button-wrapper">
              <button class="button">
                <a href="/berklee.html">
                  <p>View Project</p>
                  <svg width="12" height="17" viewbox="0 0 12 17" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.25 3.53516C10.6562 3.53516 11 3.87891 11 4.28516V11.7852C11 12.2227 10.6562 12.5352 10.25 12.5352C9.8125 12.5352
                    9.5 12.2227 9.5 11.7852V6.09766L2.28125 13.3164C1.96875 13.6289 1.5 13.6289 1.21875 13.3164C0.90625 13.0352 0.90625
                    12.5664 1.21875 12.2852L8.4375 5.06641H2.75C2.3125 5.06641 2 4.72266 2 4.31641C2 3.87891 2.3125 3.56641 2.75
                    3.56641H10.25V3.53516Z"/>
                  </svg>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="background">
    <div class="wave-bg">
      <div class="wave-contents container">
        <h2 class="fs-primary-heading ff-accent text-primary-100">Background</h2>
        <p>With a master’s in communication and a decade of experience in media, education, and tech, I've had the opportunity to develop skills across a variety of industries.</p>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 180">
      <path
        fill="#FEB824"
        fill-opacity="1"
        d="M0,96L80,106.7C160,117,320,139,480,122.7C640,107,800,53,960,37.3C1120,21,1280,43,1360,53.3L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
    </svg>
  </section>
  
  <section>
    <div class="container ">
      <div class="job-history">
                <div class="job-history-block">
          <img src="assets/pencil.png" alt="" class="job-history-img">
          <h4 class="ff-accent fs-primary-subhead">Product Strategy</h4>
          <p class="">Established discovery processes, introduced data-driven feedback loops, and defined product principles that aligned cross-functional teams.</p>
        </div>
        <div class="job-history-block">
          <img src="assets/camera.png" alt="" class="job-history-img">
          <h4 class="ff-accent fs-primary-subhead">Design Leadership</h4>
          <p>Shaped and led design teams, built and maintained 0-1 design systems, and supported cross-functional partners with design enablement and resourcing.</p>
        </div>
        <div class="job-history-block">
          <div class="job-history-img"><img src="assets/ipad.png" alt=""> </div>
          <h4 class="ff-accent fs-primary-subhead">Rapid Prototyping</h4>
          <p>Established AI-enabled rapid prototyping workflows, standards, and tools to facilitate early exploration, validation, and expedited development cycles.</p>
        </div>
        <div class="job-history-block">
          <img src="assets/computer.png" alt="" class="job-history-img">
          <h4 class="ff-accent fs-primary-subhead">Research</h4>
          <p>Led discovery efforts—from interviews and surveys to fieldwork and content analysis—to uncover user needs and guide product decisions.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-blue padding-block-999 text-secondary-100">
    <div class="container">
      <div class="connect-banner">
        <div class="connect-banner-text">
          <h2 class="fs-secondary-heading-large ff-accent">Wanna be friends?</h2>
        </div>
        <div class="button-wrapper">
          <button class="button" data-color="black">
            <a href="https://www.linkedin.com/in/kim-oswalt/" target="_blank">Connect on LinkedIn</a>
          </button>
          <button class="button">
            <a href="mailto:keoswalt@gmail.com">Send me an email</a>
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal Structure -->
  <div id="videoModal" class="modal">
    <div class="modal-content">
      <div class="video-wrapper">
        <iframe id="youtubePlayer" src="" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-controls">
        <button class="button close-btn" aria-label="Close video modal">Close</button>
      </div>
    </div>
  </div>
</main>