---
title: Kim Oswalt | Product Designer
layout: base.njk
---

<main>
  <section class="padding-block-900">
    <div class="homepage-hero | container">
      <div class="hero-image-wrapper">
        <img src="assets/hero-image.webp" alt="Five characters with a laptop, iPad, books, video camera, and sticky notes"/>
      </div>
      <div class="hero-text">
        <h1 class="text-primary-100 site-title">Kim Oswalt</h1>
        <p class="site-subhead desktop-only">
          Creating Impactful Digital Experiences
        </p>
        <p class="site-subhead mobile-only" aria-hidden="true">
          Creating Impactful Digital Experiences
        </p>
      </div>
    </div>
  </section>
  <section class="padding-block-900">
    <div class="container">
      <div class="even-columns">
        <div class="background-details">
          <div class="heading-wrapper">
            <h2 class="fs-primary-heading ff-accent text-primary-100">
              About Me
            </h2>
            <p class="fs-primary-subhead text-primary-50 desktop-only">
              Senior Product Designer
            </p>
          </div>
          <div class="divider mobile-only"></div>
          <div class="bio-text">
            <div class="vertical-divider"></div>
            <div class="bio-content">
              <p>
                Hey 👋 I’m Kim, a multidisciplinary product and communication strategist focused on creating intuitive, scalable, and impactful digital experiences.
                Currently at
                <a href="https://www.skillable.com">Skillable</a>
                working on hands-on learning and skill validation.
              </p>
              <p>
                In my spare time, I read as much as possible, bike around St. Louis, crochet lots of sweaters, volunteer with
                <a href="https://rungforwomen.org" target="_blank">Rung for Women</a>, and eat way too many tacos.
              </p>
            </div>
          </div>
          <div>
            <ul role="list" aria-label="Tech Stack" class="tech-stack">
              <li class="tag">Figma</li>
              <li class="tag">HTML/CSS</li>
              <li class="tag">Javascript</li>
              <li class="tag">Pendo</li>
              <li class="tag">Webflow</li>
              <li class="tag">Adobe Creative Suite</li>
            </ul>
          </div>
        </div>
        <div class="background-image-social">
          <div class="contact-bar-wrapper">
            <div class="contact-bar padding-top-200">
              <ul role="list" aria-label="Social Links" class="socials">
                <li>
                  <a aria-label="LinkedIn" href="https://www.linkedin.com/in/kim-oswalt/"><img src="assets/icons/linkedin-dark.svg" alt="LinkedIn"/>
                  </a>
                </li>
                <li>
                  <a aria-label="GitHub" href="https://github.com/keoswalt"><img src="assets/icons/github-dark.svg" alt="GitHub"/>
                  </a>
                </li>
                <li>
                  <a aria-label="Medium" href="https://medium.com/@keoswalt"><img src="assets/icons/medium-dark.svg" alt="Medium"/>
                  </a>
                </li>
              </ul>
              <div class="email-wrapper">
                <img src="assets/icons/envelope-dark.svg" alt=""/>
                <a href="mailto:keoswalt@gmail.com" class="text-primary-100">keoswalt@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="bio-image-wrapper">
            <img src="assets/bio-photo.webp" alt="Kim holding an ipad"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="padding-block-900" id="showcase">
    <div class="container">
      <div class="heading-wrapper">
        <h2 class="fs-primary-heading ff-accent text-primary-100">Showcase</h2>
        {# <div class="divider"></div> #}
      </div>
      <div class="showcase-card-container">
        <div class="showcase-cards">
          <div class="showcase-card">
            <div class="showcase-card-content">
              <p class="date">April 2025</p>
              <h3 class="fs-secondary-heading ff-accent">AI-Enabled Skill Validation</h3>
              <div class="tags">
                <div class="tag" data-color="light">Software Design</div>
                <div class="tag" data-color="light">AI</div>
              </div>
              <img class="showcase-img" src="assets/uploads/activities.png" alt="">
            </div>
            <div class="button-wrapper">
              <button class="button videoBtn" data-video-id="u8Q65ALQR60">
                <p>View Showcase</p>
                <svg width="12" height="17" viewbox="0 0 12 17" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.25 3.53516C10.6562 3.53516 11 3.87891 11 4.28516V11.7852C11 12.2227 10.6562 12.5352 10.25 12.5352C9.8125 12.5352
                  9.5 12.2227 9.5 11.7852V6.09766L2.28125 13.3164C1.96875 13.6289 1.5 13.6289 1.21875 13.3164C0.90625 13.0352 0.90625
                  12.5664 1.21875 12.2852L8.4375 5.06641H2.75C2.3125 5.06641 2 4.72266 2 4.31641C2 3.87891 2.3125 3.56641 2.75
                  3.56641H10.25V3.53516Z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="showcase-card">
            <div class="showcase-card-content">
              <p class="date">May 2024</p>
              <h3 class="fs-secondary-heading ff-accent">Berklee LMS Redesign</h3>
              <div class="tags">
                <div class="tag" data-color="light">Software Design</div>
                <div class="tag" data-color="light">Design System</div>
              </div>
              <img class="showcase-img" src="assets/uploads/berklee-featured.png" alt="">
            </div>
            <div class="button-wrapper visually-hidden">
              <button class="button videoBtn" data-video-id="3mjazQLWJZg">
                <p>View Showcase</p>
                <svg width="12" height="17" viewbox="0 0 12 17" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.25 3.53516C10.6562 3.53516 11 3.87891 11 4.28516V11.7852C11 12.2227 10.6562 12.5352 10.25 12.5352C9.8125 12.5352
                  9.5 12.2227 9.5 11.7852V6.09766L2.28125 13.3164C1.96875 13.6289 1.5 13.6289 1.21875 13.3164C0.90625 13.0352 0.90625
                  12.5664 1.21875 12.2852L8.4375 5.06641H2.75C2.3125 5.06641 2 4.72266 2 4.31641C2 3.87891 2.3125 3.56641 2.75
                  3.56641H10.25V3.53516Z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="showcase-card">
            <div class="showcase-card-content">
              <p class="date">September 2023</p>
              <h3 class="fs-secondary-heading ff-accent">STL Startup Week Website Redesign</h3>
              <div class="tags">
                <div class="tag" data-color="light">Web Design</div>
                <div class="tag" data-color="light">Web Development</div>
              </div>
              <img class="showcase-img" src="assets/uploads/stlsw-featured.png" alt="">
            </div>
            <div class="button-wrapper">
              <button class="button">
                <a href="https://www.stlouisstartupweek.com" target="_blank">
                  <p>Visit Website</p>
                  <svg width="12" height="17" viewbox="0 0 12 17" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.25 3.53516C10.6562 3.53516 11 3.87891 11 4.28516V11.7852C11 12.2227 10.6562 12.5352 10.25 12.5352C9.8125 12.5352
                    9.5 12.2227 9.5 11.7852V6.09766L2.28125 13.3164C1.96875 13.6289 1.5 13.6289 1.21875 13.3164C0.90625 13.0352 0.90625
                    12.5664 1.21875 12.2852L8.4375 5.06641H2.75C2.3125 5.06641 2 4.72266 2 4.31641C2 3.87891 2.3125 3.56641 2.75
                    3.56641H10.25V3.53516Z"/>
                  </svg>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="background">
    <div class="wave-bg">
      <div class="wave-contents container">
        <h2 class="fs-primary-heading ff-accent text-primary-100">Background</h2>
        <p>Since earning my master’s in communication from Saint Louis University in 2017, I’ve had the opportunity to work in
          nonprofits, higher ed, and tech.</p>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 180">
      <path
        fill="#FEB824"
        fill-opacity="1"
        d="M0,96L80,106.7C160,117,320,139,480,122.7C640,107,800,53,960,37.3C1120,21,1280,43,1360,53.3L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
    </svg>
  </section>
  
  <section>
    <div class="container ">
      <div class="job-history">
        <h3 class="fs-secondary-heading-large ff-accent align-center">Professional History</h3>
        <div class="job-history-block">
          <div class="job-history-img"><img src="assets/ipad.png" alt=""> </div>
          <h4 class="ff-accent fs-primary-subhead">Product Design</h4>
          <p>As a digital product designer, I’ve made complex software more intuitive, accessible, and scalable by leveraging skills in user research, product strategy, information architecture, content design, UX/UI design, illustration, prototyping, and front-end engineering.</p>
          <p class="italics fs-small">
            <span class="fw-bold underlined">Where:</span>
            Skillable, Berklee College of Music</p>
        </div>
        <div class="job-history-block">
          <img src="assets/computer.png" alt="" class="job-history-img">
          <h4 class="ff-accent fs-primary-subhead">Web Design & Management</h4>
          <p>Whether leading a team or running my own one-woman show, I’ve spearheaded enterprise-level redesigns, created content
            that converts, and coded beautiful, responsive sites by hand.</p>
          <p class="italics fs-small">
            <span class="fw-bold underlined">Where:</span>
            Aspire Software, STL Startup Week, Opera Theatre of Saint Louis, Fontbonne University, Shaare Emeth</p>
        </div>
        <div class="job-history-block">
          <img src="assets/pencil.png" alt="" class="job-history-img">
          <h4 class="ff-accent fs-primary-subhead">Marketing & Communications</h4>
          <p class="">I’ve developed comprehensive marketing and communication campaigns, leveraging data-informed insights and
            creative storytelling to strengthen brand identity, maximize engagement, and build community.</p>
          <p class="italics fs-small">
            <span class="fw-bold underlined">Where:</span>
            Aspire Software, Opera Theatre of Saint Louis, Fontbonne University, Shaare Emeth, Saint Louis University</p>
        </div>
        <div class="job-history-block">
          <img src="assets/camera.png" alt="" class="job-history-img">
          <h4 class="ff-accent fs-primary-subhead">Journalism & Media Production</h4>
          <p>I studied filmmaking in college; helped produce a daily talk show for NPR’s St. Louis station; and created hundreds of videos for universities, museums, arts organizations, nonprofits, corporations, government institutions, and special interest groups.</p>
          <p class="italics fs-small">
            <span class="fw-bold underlined">Where:</span>
            St. Louis Public Radio, HEC-TV, Saint Louis University, Boise State University, Freelance</p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-blue padding-block-999 text-secondary-100">
    <div class="container">
      <div class="connect-banner">
        <div class="connect-banner-text">
          <h2 class="fs-secondary-heading-large ff-accent">Wanna be friends?</h2>
        </div>
        <div class="button-wrapper">
          <button class="button" data-color="black">
            <a href="https://www.linkedin.com/in/kim-oswalt/" target="_blank">Connect on LinkedIn</a>
          </button>
          <button class="button">
            <a href="mailto:keoswalt@gmail.com">Send me an email</a>
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal Structure -->
  <div id="videoModal" class="modal">
    <div class="modal-content">
      <div class="video-wrapper">
        <iframe id="youtubePlayer" src="" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-controls">
        <button class="button close-btn" aria-label="Close video modal">Close</button>
      </div>
    </div>
  </div>
</main>