---
title: User Dashboard Redesign | Skillable
layout: base.njk
---

<main>
 <section class="bg-dark-100 text-secondary-100">
        <div class="container">
            <div class="cs-even-col padding-block-900" data-align="center">
                <div class="cs-heading">
                    <h1 class="fs-page-title ff-accent">User Dashboard Redesign</h1>
                    <p class="fs-primary-subhead">Skillable</p>
                </div>
                <img class="cs-width-50" src="/assets/uploads/studio-dashboard-blob.png" alt="Redesigned dashboard with card layout, improved navigation, and a focus on key actions."></div>
            </div>
        </div>
        <div class="cs-full-stripe-bar cs-padding-75" data-color="light">
            <div class="container">
                <p>April 2025 - June 2025</p>
            </div>
        </div>
        <div class="container">
            <div class="cs-width-100 cs-padding-2">
                <p><span class="fw-bold">Product Design Lead</span>: Kim Oswalt</p>
                <p><span class="fw-bold">Engineering Lead</span>: Ron Haberle</p>
                <p><span class="fw-bold">Product Managers</span>: Tosha Hawley, Eric Grau</p>
            </div>
        </div>
    </section>

    <section class="padding-block-500">
        <div class="cs-full-stripe-bar">
            <div class="container">
                <div class="cs-content-emphasis">
                    <p class="fs-secondary-heading align-center cs-width-75">Skillable's redesigned user dashboard makes key actions faster, easier, and more intuitive.</p>
                    <div class="cs-width-75"><img src="/assets/uploads/studio-dashboard-dark.png" alt="Redesigned dashboard with card layout, improved navigation, and a focus on key actions."></div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-blue padding-block-500 text-secondary-100">
        <div class="cs-full-stripe-bar" data-color="light">
            <div class="container">
                <div class="cs-even-col padding-top-500" data-align="center">
                    <div class="cs-col">
                        <div class="cs-heading">
                            <h2 class="fs-secondary-heading-large ff-accent">Background</h2>
                            <p>The existing Studio dashboard wasn’t working for users. It was cluttered and lacked functionality, causing builders to skip straight to the legacy admin page to complete even the most basic tasks.</p>
                        </div>
                    </div>
                    <div class="cs-col"><img src="/assets/uploads/studio-dashboard-2.png" alt="Legacy dashboard with large buttons across the top, a table displaying recent labs, and a sidebar showing recommendations"> </div>
                </div>
                <div class="cs-heading padding-block-900" data-align="center">
                    <p class="fs-primary-subhead padding-block-500 cs-width-80">After tagging each element in Pendo, I discovered that the components at the top of the page were the <span class="fw-bold">least used</span>. In fact, most features on the dashboard were underused—with one notable exception.</p>
                    <div class="cs-width-75">
                        <img src="/assets/uploads/studio-dashboard-4.png" alt="">
                    </div>
                </div>
                <div class="cs-even-col padding-block-900" data-align="center">
                    <div class="cs-col">
                        <p class="padding-block-900">Lab authors' most common action was navigating to a single tab of the dashboard (lab instances). Pendo paths revealed that—of the users who didn't immediately leave the dashboard—most only leveraged it for an unintended flow.</p>
                    </div>
                    <div class="cs-col">
                        <img src="/assets/uploads/studio-dashboard-5.png" alt="">
                    </div>
                </div>
                <div class="cs-heading padding-block-900" data-align="center">
                        <p class="fs-primary-subhead cs-width-75">These insights, combined with qualitative feedback from users, highlighted confusion, friction, and a desire for a more action-oriented experience.</p>
                    </div>
            </div>
        </section>

        <section class="bg-dark-100 text-secondary-100 padding-block-500">
            <div class="cs-full-stripe-bar">
                <div class="container">
                    <div class="cs-content-emphasis">
                        <div class="cs-heading" data-align="center">
                            <h2 class="ff-accent fs-secondary-heading-large">Design Approach</h2>
                            <p class="cs-width-80">The goal of this project was to make better use of screen real estate on the dashboard—removing unused content, surfacing the most important actions, reducing clicks, streamlining workflows, and helping users feel more in control from the moment they log in.</p>
                        </div>
                        <div class="cs-col cs-width-80">
                            <img src="/assets/uploads/studio-dashboard-3.png" alt="Wireframe sketches of the redesigned dashboard">
                            <p class="align-center italics cs-padding-75">Wireframe sketches of the redesigned dashboard</p>
                        </div>
                    </div>
                    <div class="cs-content-emphasis" data-padding="2">
                        <p class="fs-secondary-heading align-center cs-width-80">I focused on making the dashboard <span class="fw-bold">feature-rich</span> and <span class="fw-bold">action-oriented</span>, laying the foundation for deeper customization in the future.</p>
                        <div class="cs-list cs-width-75">
                            <p class="cs-padding-75">Key improvements included:</p>
                            <ol>
                                <li>Removed the Lab Advisor sidebar (<10% usage) to declutter the interface</li>
                                <li>Consolidated four large, underused "quick actions" into two core "find" and "create" split buttons</li>
                                <li>Introduced new tabs with integrated favoriting to enable access to a wider variety of content</li>
                                <li>Replaced data table with more modern, responsive card layout</li>
                                <li>Added one-click shortcuts to key actions from each card (based on Pendo insights from elsewhere in the platform)</li>
                                <li>Implemented filtering and sorting, with saved views on the roadmap</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="padding-block-500">
        <div class="cs-full-stripe-bar">
            <div class="container">
                <div class="cs-even-col padding-block-999" data-align="center">
                    <div class="cs-col">
                        <div class="cs-heading">
                            <h2 class="fs-secondary-heading-large ff-accent">Impact</h2>
                            <p>The updated dashboard gives power users and new users alike a streamlined, modern starting point—making it easier to take action, stay organized, and get more done in less time. By surfacing the most important tools and workflows up front, we’re helping users work smarter and build with confidence.</p>
                        </div>
                    </div>
                    <div class="cs-col"><img src="/assets/uploads/studio-dashboard-featured.png" alt=""> </div>
                </div>
            </div>
        </section>


</main>