---
title: Your Message Was Sent
layout: base.njk
---
  <main>

    <section>
      <div class="container padding-block-900">
        <div class="even-columns" data-type="switchback">
          <div class="switchback-content">
            <div class="switchback-text">
              <h1 class="fs-primary-heading ff-accent">Your message was sent</h1>
              <p class="fs-primary-subhead">Thanks for reaching out. Can't wait to connect!</p>
            </div>
            <div class="button-wrapper">
              <button class="button" data-color="black">
                <a href="/index.html">Back to Home Page</a>
              </button>
              <button class="button">
                <a href="https://www.linkedin.com/in/kim-oswalt/">Connect on LinkedIn</a>
              </button>
            </div>
          </div>
          <div class="switchback-image">
            <img src="/assets/success-01.webp" alt="">
          </div>
        </div>
      </div>
    </section>

  </main>